.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.so
.Python
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
coverage.xml
.mypy_cache/
.ruff_cache/
.tox/
.nox/
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
env/

# MLflow/local artifacts
mlruns/
mlflow/
mlflow-py312/
artifacts/
outputs/
logs/

# Editors
.idea/
.vscode/
